{% extends "base.html" %} 

{% block title %}
RAG Demo Chat
{% endblock %}

{% block content %}

<div class="row h-75 justify-content-center">
  <span id="chat-log" class="col-10 h-100 bg-light border border-success rounded overflow-auto">

    <!-- One message -->
    <div class="row p-3 justify-content-start">
      <div class="col-8 p-3 shadow rounded bg-light">
        Hello, How may I help you
      </div>
    </div>

  </span>
</div>

<div id="input" class="row justify-content-center">
  <div class="col-8 align-self-center">
    <input id="chat-message-input" class="form-control" type="text" placeholder="Write your message here." required/>
  </div>
  <div class="col-2 align-self-center">
    <button id="chat-message-submit" class="btn w-100 btn-success" onclick="chat_button_onclick()">Send</button>
  </div>
</div>

{% load static %}
<script src="{% static 'scripts.js' %}"></script>

{% endblock %}