{% extends "base.html"%}

{% block title %}
RAG Demo Chat Document List
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-8">

        <div class="row justify-content-end">
            <div class=" col-2">
                <form action="/docs/upload" method="get">
                    <button type="submit" class="btn btn-outline-success">Upload File</button>
                </form>
                
            </div>
        </div>
        
        <div class="row justify-content-start">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Created</th>
                        <th scope="col">Size</th>
                        <th scope="col">Embedded</th>
                    </tr>
                </thead>

                <tbody>
                    {% for doc in docs_list %}
                    <tr>
                        <td>{{ doc.doc_name }}</td>
                        <td>{{ doc.upload_time }}</td>
                        <td>{{ doc.size }}MB</td>
                        <td>
                            {% if doc.embedding_status == 1 %} 
                            &#9989;
                            {% else %}
                            &#10060;
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
  </div>


{% endblock %}