{% extends "base.html"%}

{% block title %}
RAG Demo Upload Portal
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-8">

        <form action="/docs/uploader" method="post">
            <label for="formFileMultiple" class="form-label">Files:</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
            <button type="submit" class="btn btn-outline-success">Upload</button>
        </form>

    </div>

</div>
    
{% endblock %}