{% extends "base.html"%}

{% block title %}
RAG Demo Upload Portal
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-8">

        <form action="/docs/uploader" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            
            <label for="formFile" class="form-label">Files:</label>
            <input class="form-control" type="file", name="file-upload" required>
            <button type="submit" class="btn btn-outline-success">Upload</button>
        </form>

    </div>

</div>
    
{% endblock %}